<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="appConnectionString" connectionString="Data Source=192.168.1.6\SQLEXPRESS;Initial Catalog=JeansStyleManagement_DEV;User ID=sa;"
            providerName="System.Data.SqlClient" />
        <add name="JS_Manage.Properties.Settings.JeansStyleManagementConnectionString"
            connectionString="Data Source=192.168.1.6\SQLEXPRESS;Initial Catalog=JeansStyleManagement_DEV;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="JS_Manage.Properties.Settings.JeansStyleManagement_DEVConnectionString"
            connectionString="Data Source=192.168.1.6\SQLEXPRESS;Initial Catalog=JeansStyleManagement_DEV;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="JS_Manage.Properties.Settings.JeansStyleManagement_DEVConnectionString1"
            connectionString="Data Source=192.168.1.6\SQLEXPRESS;Initial Catalog=JeansStyleManagement_DEV;User ID=sa;Password=niemvui"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
